.mamu-portfolio {
  background-color: #03142b;
  padding: 80px 0px;
}
.portfolio {
  padding-top: 40px;
}
.portfolio-cards {
  background-color: #06142f !important;
  border: 2px solid #274173 !important;
  transition: all 0.9s ease-in-out;
}
.portfolio-cards:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.portfolio-img-content span {
  text-transform: uppercase;
  border: 1px solid #6e798c;
  margin-right: 10px;
  margin-top: 20px;
  display: inline-block;
  padding: 10px 15px;
  color: #ebebeb;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: all 1s ease;
}

.portfolio-img-content span:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #0d2e22;
}

.portfolio-img-content span:hover {
  background-color: #fdfdfd !important;
  color: #000000;
  font-weight: 600;
}
.portfolio-cards-body h4 {
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  padding-top: 15px;
}

.button-portfolio {
  background-color: #03142b;
  color: #fff;
  border: 1px solid #294374;
  padding: 12px 70px;
  font-weight: 700;
  margin: 10px 0px;
  font-size: 20px;
  text-transform: uppercase;
  transition: all 1s ease;
}

.button-portfolio:hover {
  background-color: #f1f1f1;
  color: #111;
}
a.button-portfolio {
  display: inline-block;
  text-decoration: none;
}

/* mobile view  */
@media (max-width: 600px) {
  .mamu-portfolio {
    padding-top: 60px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .portfolio-cards {
    margin-bottom: 40px;
  }
}
