.nav-item {
  color: #fff;
  padding-left: 15px;
}
.nav-link {
  display: flex !important;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.nav-link svg {
  margin-right: 12px;
  font-size: 30px;
}
.nav-link span {
  text-transform: uppercase;
  font-size: 17px;
}
.nav-link:hover {
  color: rgb(228, 228, 8) !important;
  font-weight: 700;
  font-size: 20px;
}
.nav-link .active {
  color: #f7630c;
  font-weight: 700;
  text-decoration: none;
}
