.mamu-home {
  background-color: #03142b;
  height: 100vh;
  padding-top: 80px;
}

.mamu-photo img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.mamu-content {
  margin-left: 120px;
}
.mamu-content .social span svg {
  font-size: 30px;
  color: #cdc8c8;
  margin-right: 30px;
  margin-bottom: 40px;
  cursor: pointer;
  transition: all 1s ease;
}
.social span svg:hover {
  color: #f5f813 !important;
}
.mamu-content h1 {
  color: #edf104;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #f47d20;
}
.mamu-content h3 {
  text-transform: uppercase;
  font-size: 40px;
  line-height: 50px;
}
.mamuu {
  background-color: #03142b;
  color: #fff;
  border: 1px solid #294374;
  padding: 15px 40px;
  font-weight: 700;
  margin-top: 40px;
  font-size: 20px;
  box-shadow: rgba(233, 231, 231, 0.3) 0px 7px 29px 0px;
  transition: all 1s ease;
}

.mamuu:hover {
  background-color: #fff;
  color: #03142b;
}
a.mamuu {
  display: inline-block;
  text-decoration: none;
}

/* mobile view */
@media (max-width: 600px) {
  .mamu-home {
    width: 100%;
    height: 100%;
    padding-top: 120px;
  }
  .mamu-content {
    margin-left: 0px;
    text-align: center;
  }
  .mamu-button {
    justify-content: center;
    font-size: 14px;
  }
  .mamu-photo {
    text-align: center;
  }
  .mamu-content h3 {
    font-size: 30px;
    line-height: 40px;
  }
}
