.mamu-testimonial {
  background-color: #03142b;
  padding-top: 80px;
  padding-bottom: 80px;
}

/* mobile view */
@media (max-width: 600px) {
  .mamu-testimonial {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}
