.sidebar-section {
  display: flex;
  background-color: #03142b;
}
.sidebar {
  background-color: #040d1b;
  /* height: 100vh; */
  padding: 20px;
  margin-top: 250px;
  position: fixed;
  border-radius: 20px;
  box-shadow: rgba(243, 243, 243, 0.3) 0px 19px 38px,
    rgba(250, 250, 250, 0.22) 0px 15px 12px;
}

.sidebar-toogle {
  width: 230px;
}

.sidebar-toogle-icon {
  display: flex;
  align-items: right;
  justify-content: right;
  cursor: pointer;
}
.sidebar-toogle-icon span {
  color: #fff;
  font-size: 50px;
}

/* mobile view */
@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
