.mamu-contacts {
  background: rgb(3, 79, 80);
  background: linear-gradient(
    0deg,
    rgba(3, 79, 80, 1) 0%,
    rgba(19, 22, 0, 1) 61%
  );
  padding-top: 80px;
  padding-bottom: 80px;
}
.mamu-contact-full {
  border-right: 1px solid #00ddd3;
  padding-left: 40px;
}
.mamu-margin {
  margin-top: 60px;
}
.mamu-contact {
  display: flex;
  align-items: center;
  gap: 30px;
  color: #cdc8c8;
  font-weight: 700;
}
.mamu-contact-icon {
  font-size: 25px;
}
.mamu-contact-details h4 {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  padding-top: 10px;
  font-weight: 300;
}
.mamu-contact-img img {
  max-width: 100%;
  width: 90%;
  height: auto;
  margin-bottom: 30px;
}
.mamu-contact-form {
  padding-left: 60px;
  padding-right: 60px;
}
.mamu-contact-form h2 {
  text-transform: capitalize;
  margin-bottom: 30px;
  color: #cdc8c8;
  font-weight: 700;
}
.mamu-contact-form input {
  background: rgb(3, 79, 80);
  background: linear-gradient(
    0deg,
    rgba(3, 79, 80, 1) 0%,
    rgba(19, 22, 0, 1) 61%
  );
  border: none !important;
  border-radius: 0px !important;
  padding: 20px !important;
  color: #fff !important;
  font-size: 20px;
}
.mamu-contact-form textarea {
  background: rgb(3, 79, 80);
  background: linear-gradient(
    0deg,
    rgba(3, 79, 80, 1) 0%,
    rgba(22, 15, 0, 1) 61%
  );
  border: none !important;
  border-radius: 0px !important;
  padding: 20px !important;
  color: #fff !important;
  width: 100%;
  height: 150px;
  resize: none;
  font-size: 20px;
}
.mamu-contact-form input:focus {
  background-color: #09605c !important;
  box-shadow: none !important;
  outline: none;
}

::placeholder {
  color: #b9b6b6 !important;
  opacity: 1;
  font-weight: 400;
}
.mamu-contact-form textarea:focus {
  background-color: #09605c !important;
  box-shadow: none !important;
  outline: none;
}
.mamu-contact-form button {
  border-radius: 0px;
  text-transform: uppercase;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border: 0px;
  display: block;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(
    45deg,
    #03657d 0%,
    #6a6866 51%,
    #bdb9b9 100%
  );
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.mamu-contact-form button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.mamu-contact-form button:active {
  transform: scale(0.95);
}
a.mamu-contact-form button {
  text-decoration: none;
}

/* mobile view */
@media (max-width: 600px) {
  .mamu-contacts {
    padding-top: 60px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .mamu-contact-full {
    border-right: 1px solid #00ddd3;
    padding-left: 0px;
    border: none;
  }
  .mamu-contact-img img {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .mamu-contact-details h4 {
    font-size: 20px;
  }
  .mamu-contact-form {
    margin-top: 60px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .mamu-contact-form h2 {
    color: #fff;
  }

  .mamu-margin {
    margin-top: 20px;
  }
}
