.mamu-contacts {
  background-color: #03142b;
  padding-top: 80px;
  padding-bottom: 80px;
}
.mamu-contact-full {
  padding-left: 40px;
}
.mamu-margin {
  margin-top: 60px;
}
.mamu-contact {
  display: flex;
  align-items: center;
  gap: 30px;
  color: #cdc8c8;
  font-weight: 700;
}
.mamu-contact-icon {
  font-size: 25px;
}
.mamu-contact-details h4 {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  padding-top: 10px;
  font-weight: 300;
}
.mamu-contact-img img {
  max-width: 100%;
  width: 90%;
  height: auto;
  margin-bottom: 30px;
}
.mamu-contact-form {
  padding: 60px;
  border-radius: 12px;
  box-shadow: rgba(243, 243, 243, 0.3) 0px 19px 38px,
    rgba(250, 250, 250, 0.22) 0px 15px 12px;
}
.mamu-contact-form h2 {
  text-transform: capitalize;
  margin-bottom: 30px;
  color: #cdc8c8;
  font-weight: 700;
}
.mamu-contact-form input {
  background-color: #fff;
  border: none !important;
  border-radius: 17px !important;
  padding: 20px !important;
  color: #111 !important;
  font-size: 20px;
}
.mamu-contact-form textarea {
  background: #fff;
  border: none !important;
  border-radius: 17px !important;
  padding: 20px !important;
  color: #111 !important;
  width: 100%;
  height: 150px;
  resize: none;
  font-size: 20px;
}
.mamu-contact-form input:focus {
  box-shadow: none !important;
  outline: none;
}

::placeholder {
  color: #000000 !important;
  opacity: 1;
  font-weight: 400;
}
.mamu-contact-form textarea:focus {
  box-shadow: none !important;
  outline: none;
}
.mamu-contact-form button {
  background-color: #03142b;
  color: #fff;
  border: 1px solid #294374;
  padding: 15px 40px;
  font-weight: 700;
  margin-top: 40px;
  font-size: 20px;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.mamu-contact-form button:hover {
  background-color: #fff;
  color: #111;
}
a.mamu-contact-form button {
  text-decoration: none;
}

/* mobile view */
@media (max-width: 600px) {
  .mamu-contacts {
    padding-top: 60px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .mamu-contact-full {
    border-right: 1px solid #00ddd3;
    padding-left: 0px;
    border: none;
  }
  .mamu-contact-img img {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .mamu-contact-details h4 {
    font-size: 20px;
  }
  .mamu-contact-form {
    padding: 40px 30px;
    margin-top: 40px;
  }
  .mamu-contact-form h2 {
    color: #fff;
  }

  .mamu-margin {
    margin-top: 20px;
  }
}
